.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11 {
  fill: none;
  stroke: #b3b3b3;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.svg-container svg {
  position: absolute;
  right: 0;
  height: 448px;
}


@keyframes anim {
  0% {
    r: 0;
  }
  20% {
    r: 150;
  }
  40% {
    r: 300;
  }
  60% {
    r: 450;
  }
  80% {
    r: 600;
  }
  100%{
    r: 750
  }
}
