.audio-player .play-btn::after{
    content: '';
    width: 60%;
    height: 70%;
    border-radius: 2px 11px 2px 0px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top:0;
    right: 0;
}