.hero{
   max-height: 600px;
}
#hero-bottom{
   bottom: 5%;
}
.hero-texts h1 {
   font-size: 2.5rem;
   font-weight: 700;
   font-family: sans-serif;
}

.card-container::after {
   content: "";
   width: 100%;
   height: 100%;
   background-image: radial-gradient(ellipse, transparent, white 70%);
   position: absolute;
   top: 0;
   left: 0;
}

.icon-box-icon svg {
   border: 1px solid black;
   border-radius: 50%;
   width: 24px;
   height: 24px;
   padding: 16px;
   box-sizing: content-box;
}
@media (max-width: 768px) {
   .hero{
      padding-top: 75px;
      max-height: fit-content;
      height: auto;
   }
   .hero-texts{
      width: auto;
      position: relative;
      z-index: 20;
      margin: 48px auto;
      align-items: center;
      background: transparent;
   }
   .card-container{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 101%;
   }
   .card-wrapper{
      position: relative;
   }
   #hero-bottom{
      position: relative;
      margin: 0px auto
   }

   .card-container::after{
      background-image: radial-gradient(ellipse, rgba(255, 255, 255, 0.68), white 60%);
   }
}