#carousel{
    width: 928px;
}
#carousel .carousel-inner{
    transition: 1s ease;
}

#carousel .carousel-inner{
    transition: 1s ease;
}
.testmonial-card{
    cursor: pointer;
    transition: 1s ease;
}
.testmonial-card:hover{
    transform: scale(1.1);
}